html {
  font-size: 62.5%;
}

body {
  background-color: #FF524A;
}

img {
  width: 100%;
}

.everythingHolder {
  position: relative;
  top: 0;
}

h1,
h2,
h3 {
  font-family: 'Luckiest Guy', sans-serif;
}

h2 {
  font-size: 7rem;
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
  padding: 0;
}